body {
    font-family: Arial, sans-serif;
    background: #f5f0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 500px;
}

.card {
    background: #ede0ff;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
}

h1 {
    color: #6a0dad;
}

.subtitle {
    margin-bottom: 20px;
}

.summary {
    text-align: left;
    margin-top: 20px;
}

.summary h2 {
    margin-top: 15px;
}

ul {
    margin-left: 20px;
}

/* Button */
button {
    margin-top: 25px;
    padding: 12px 20px;
    background: #b266ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #9933ff;
}